.backgroundImage {
    background: url("https://upload.wikimedia.org/wikipedia/commons/2/2a/MCB-prime-rib2.jpg");
}

p {
    color: red;
    font-size: 24px;
    font-family: fantasy;
    text-align: justify;
}
